@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

@plugin "@tailwindcss/typography";

:root {
  /* Default Theme: Prussian Twilight */
  --color-primary: #0d1b2a;
  --color-primary-foreground: #e0e1dd;
  --color-secondary: #1b263b;
  --color-accent: #778da9;
  --color-edge: #415a77;
  --color-subtle: #778da9;
  --color-hover: rgba(119, 141, 169, 0.08);

  /* FONT */
  --font-primary: Rajdhani, system-ui;

  /* OTHER */
  --radius-interactive: 0.4rem;
  --duration-interactive: 200ms;
}

@theme {
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-edge: var(--color-edge);
  --color-subtle: var(--color-subtle);
  --color-hover: var(--color-hover);

  --font-primary: var(--font-primary);

  --radius-interactive: var(--radius-interactive);
  --duration-interactive: var(--duration-interactive);
}

@layer base {
  :root {
    color: var(--color-primary-foreground);
    font-family: var(--font-primary);
  }
}
